## Data Exploration of the Auto Insurance Claims dataset

This project is aimed at emulating workflows for risk segmentation and claims prediction within the industry of Car insurance. We use the dataset collected from https://www.kaggle.com/datasets/buntyshah/auto-insurance-claims-data/data, which in turn was collected from https://databricks-prod-cloudfront.cloud.databricks.com/public/4027ec902e239c93eaaa8714f173bcfc/4954928053318020/1058911316420443/167703932442645/latest.html

In [48]:
from pathlib import Path
import sys
import seaborn as sns
# Path to project root
PROJECT_ROOT = Path.home() / "Desktop" / "Insurance_Project"

# Add root to Python path
sys.path.append(str(PROJECT_ROOT))

In [49]:
from pathlib import Path
import os
import importlib
from src.data import preprocessing as pr
file_path = PROJECT_ROOT/"data"/"raw"/"insurance_claims.csv"
data = pr.load_data(file_path)

In [50]:
#Inspecting the dataset
data.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN

In [51]:
data.shape

(1000, 40)

In [52]:
for col in data.columns:
    print(f"Column ------- {col}")

Column ------- months_as_customer
Column ------- age
Column ------- policy_number
Column ------- policy_bind_date
Column ------- policy_state
Column ------- policy_csl
Column ------- policy_deductable
Column ------- policy_annual_premium
Column ------- umbrella_limit
Column ------- insured_zip
Column ------- insured_sex
Column ------- insured_education_level
Column ------- insured_occupation
Column ------- insured_hobbies
Column ------- insured_relationship
Column ------- capital-gains
Column ------- capital-loss
Column ------- incident_date
Column ------- incident_type
Column ------- collision_type
Column ------- incident_severity
Column ------- authorities_contacted
Column ------- incident_state
Column ------- incident_city
Column ------- incident_location
Column ------- incident_hour_of_the_day
Column ------- number_of_vehicles_involved
Column ------- property_damage
Column ------- bodily_injuries
Column ------- witnesses
Column ------- police_report_available
Column ------- total_claim_amount
Column ------- injury_claim
Column ------- property_claim
Column ------- vehicle_claim
Column ------- auto_make
Column ------- auto_model
Column ------- auto_year
Column ------- fraud_reported
Column ------- _c39

In [53]:
data.isna().sum().sort_values(ascending=False)

_c39                           1000
authorities_contacted            91
months_as_customer                0
age                               0
policy_state                      0
policy_csl                        0
policy_number                     0
policy_bind_date                  0
policy_annual_premium             0
policy_deductable                 0
insured_sex                       0
umbrella_limit                    0
insured_occupation                0
insured_hobbies                   0
insured_relationship              0
insured_zip                       0
capital-gains                     0
capital-loss                      0
incident_type                     0
incident_date                     0
collision_type                    0
incident_severity                 0
incident_state                    0
insured_education_level           0
incident_city                     0
incident_location                 0
number_of_vehicles_involved       0
incident_hour_of_the_day          0
bodily_injuries                   0
witnesses                         0
police_report_available           0
property_damage                   0
total_claim_amount                0
injury_claim                      0
vehicle_claim                     0
property_claim                    0
auto_make                         0
auto_model                        0
auto_year                         0
fraud_reported                    0
dtype: int64

In [54]:
# We inspect the two columns where there are missing values present
data[["_c39", "authorities_contacted"]]

     _c39 authorities_contacted
0     NaN                Police
1     NaN                Police
2     NaN                Police
3     NaN                Police
4     NaN                   NaN
..    ...                   ...
995   NaN                  Fire
996   NaN                  Fire
997   NaN                Police
998   NaN                 Other
999   NaN                Police

[1000 rows x 2 columns]

In [55]:
# We drop the _c39 column since it is only NaN

data = data.drop("_c39", axis=1)
data.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [56]:
# Exploring rows where there are null values present in authorities_contacted
data[data["authorities_contacted"].isna()]

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N
13,121,34,626808,2012-10-26,OH,100/300,1000,936.61,0,464652,...,1,NO,7280,1120,1120,5040,Toyota,Highlander,2010,N
27,202,34,608513,2002-07-18,IN,100/300,500,848.07,3000000,607730,...,1,?,5720,1040,520,4160,Suburu,Forrestor,2003,Y
37,289,49,933293,1993-02-03,IL,500/1000,2000,1222.48,0,620757,...,1,YES,5330,1230,820,3280,Suburu,Legacy,2001,N
51,91,27,537546,1994-08-20,IL,100/300,2000,1073.83,0,609930,...,2,?,7260,1320,660,5280,BMW,M5,2008,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,308,47,720356,2013-09-16,OH,100/300,1000,1013.61,6000000,452349,...,1,YES,5590,860,860,3870,Suburu,Impreza,2002,N
942,108,31,148498,2002-01-04,IN,250/500,2000,1112.04,6000000,472209,...,3,NO,4290,780,780,2730,Volkswagen,Passat,1998,N
950,101,27,557218,1997-11-23,IL,500/1000,500,982.70,6000000,440865,...,0,NO,5170,940,470,3760,Toyota,Camry,2001,N
953,229,43,791425,1997-06-18,IN,250/500,2000,1585.54,0,463153,...,0,YES,4620,420,840,3360,Volkswagen,Jetta,2012,N
994,141,30,681486,2007-03-24,IN,500/1000,1000,1347.04,0,430665,...,2,YES,6480,540,1080,4860,Honda,Civic,1996,N

In [57]:
n_nan = data.isna().sum().sum()
print(f"Ratio of rows with NaN values in the dataset: {n_nan/len(data)}")

Ratio of rows with NaN values in the dataset: 0.091

We can notice that there do not seem to be any clear patterns regarding when the NaN values are present, and the affected rows account for around 9 %. We choose to impute the missing values since the dataset is already quite small

In [58]:
# We explore if there are any duplicate values in the dataset
if data.duplicated().any():
    d_cols = [col for col in data.columns if data[col].duplicated().any()]
    print(f"There are duplicated values in the data set at {d_cols}")
    
print(f"Amount of duplicated rows {data.duplicated().sum()}")

Amount of duplicated rows 0

In [ ]:
num_cols = data.is_numeric().columns
sns.pairplot(data[num_cols])

C:\Users\phili\AppData\Local\Temp\ipykernel_10936\750314524.py:1: FutureWarning: Index.is_numeric is deprecated. Use pandas.api.types.is_any_real_numeric_dtype instead
  num_cols = data.columns.is_numeric()

KeyError: False